@font-face {
  font-family: "comming-soon";
  src: url("assets/fonts/Netron-demo-1.otf");
}

@font-face {
  font-family: "grave";
  src: url("/assets/fonts/Gravedigger-8BOZ.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.image {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.imageImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 2;
  /* transform-origin: 50% 40%; */
  box-shadow: 0 0 500px rgba(0, 0, 0, 0.9) inset;
  z-index: 10;
  /* transform-origin: 25% 40%; */
}

.image-curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1711;
  z-index: 111;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("/assets/bg.jpg");
  background-size: cover;
  color: #fff;
  opacity: 1;
  background-position: center;
  transform-origin: 25% 40%;
}

.curtain-text {
  padding: 20px;
  /* border: 1px solid #fff; */
  width: 400px;
  position: relative;
  overflow: hidden;
  color: black;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.curtain-text-text {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  font-size: 32px;
}

.item1,
.item2,
.item3 {
  opacity: 0;
  color: black;
}

.particle-div {
  z-index: -1 !important;
  position: fixed;
  width: 100%;
}

.comming-soon {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nsu-tech-fest {
  color: #fff;
  font-family: "grave";
  letter-spacing: 5px;
  color: #6daccc;
  /* transform: translateY(00px); */
  font-size: 30px;
  position: absolute;
  color: #fff;
  bottom: -700px;
  z-index: 100;
  left: 0;
  right: 0;
  text-align: center;
}

.comming-soon-inside {
  color: #000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "comming-soon";
  font-size: 100px;
}

.space-overlay {
  opacity: 0.5;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

/*----------------------------------- loader styles */
.loader {
  position: relative;
  display: flex;
  margin-top: -30px;
}

.loader-title {
  width: 100%;
  font-size: 50px;
  font-family: "grave";
  color: #54aedc;
  letter-spacing: 5px;
  margin-left: 23%;
}

.loader span {
  position: relative;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  opacity: 1;
  overflow: hidden;
  border-image: linear-gradient(#7766ce, #312b4d, #9b4fa0);
  border-width: 30px;
  border-style: solid;
}
