@font-face {
  font-family: "comming-soon";
  src: url("assets/fonts/Netron-demo-1.otf");
}

@font-face {
  font-family: "grave";
  src: url("/assets/fonts/Gravedigger-8BOZ.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.image {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.imageImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 2;
  /* transform-origin: 50% 40%; */
  box-shadow: 0 0 500px rgba(0, 0, 0, 0.9) inset;
  z-index: 1150;
  /* transform-origin: 25% 40%; */
}

.image-curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b1711;
  z-index: 1200;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url("/assets/bg.jpg");
  background-size: cover;
  color: #fff;
  opacity: 1;
  background-position: center;
  transform-origin: 25% 40%;
}

.curtain-text {
  padding: 20px;
  /* border: 1px solid #fff; */
  width: 400px;
  position: relative;
  overflow: hidden;
  color: black;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.curtain-text-text {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  font-size: 32px;
}

.item1,
.item2,
.item3 {
  opacity: 0;
  color: black;
}

.particle-div {
  z-index: -1 !important;
  position: fixed;
  width: 100%;
}

.comming-soon {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 6;
}

.nsu-tech-fest {
  color: #f5f5f5;
  font-family: "grave";
  letter-spacing: 5px;
  color: #eb3572;
  /* transform: translateY(00px); */
  font-size: 50px;
  position: absolute;
  bottom: -700px;
  z-index: 1170;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: 40px;
}

.comming-soon-inside {
  color: #000;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  /* font-family: "comming-soon"; */
  font-family: "grave";
  font-size: 35px;
}

.social-div {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 1100;
  opacity: 0;
}

.icons {
  font-size: 25px;
  margin-bottom: 30px;
  cursor: pointer;
  color: white;
}

.space-overlay {
  opacity: 0.5;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: fixed;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

/*----------------------------------- loader styles */
.loader {
  position: relative;
  display: flex;
  z-index: 300;
  align-items: center;
}

.loader-title {
  width: 100%;
  font-size: 50px;
  font-family: "grave";
  color: #54aedc;
  letter-spacing: 5px;
  margin-left: 23%;
}

.loader span {
  position: relative;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  opacity: 1;
  overflow: hidden;
  border-image: linear-gradient(#7766ce, #312b4d, #9b4fa0);
  border-width: 30px;
  border-style: solid;
}

.loader span:before {
  content: "";
  position: absolute;
  inset: 70px;
  background-color: rgba(91, 44, 161, 0.275);
  /* box-shadow: -8px -8px 25px rgba(255, 255, 255, 1),
    8px 8px 25px rgba(0, 0, 0, 0.15), inset 3px 3px 10px rgba(0, 0, 0, 0.1),
    inset -1px -1px 15px rgba(255, 255, 255, 1); */
  /* border: 2px solid #eaeef0; */
  /* border: 2px solid linear-gradient(#7766ce, #312b4d, #9b4fa0); */
  border-radius: 50%;
  z-index: 1;
  border-image: linear-gradient(#7766ce, #312b4d, #9b4fa0);
  border-width: 30px;
  border-style: solid;
}

.loader span i {
  position: absolute;
  inset: 0;
  /* background: linear-gradient(#7766ce, #312b4d, #9b4fa0); */
  border-radius: 50%;
  filter: blur(5px);
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  animation: animateText 25s linear infinite;
  color: #000;
}

@keyframes animateText {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.text b {
  position: absolute;
  left: 50%;
  display: block;
  transform-origin: 0 170px;
  font-weight: normal;
  font-size: 1.4em;
}

@media screen and (min-width: 1445px) {
  .loader {
    margin-left: 10%;
    margin-top: -4vh;
  }

  .svg-loader {
    width: 500px;
    height: 500px;
  }

  .loader-title {
    margin-left: 40%;
  }
}

@media screen and (min-width: 1600px) {
  .loader {
    margin-left: 13%;
    margin-top: -4vh;
  }
}

@media screen and (min-width: 1030px) and (max-width: 1445px) {
  .loader {
    margin-left: -2vw;
    margin-top: -4vh;
  }

  .svg-loader {
    width: 400px;
    height: 400px;
  }
  .imageImg {
    margin-left: 0px;
    margin-top: 0px;
    z-index: 54;
  }

  .image-curtain {
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: right;
    padding-left: 205px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1030px) {
  .loader {
    margin-left: -8vw;
    margin-top: -4vh;
  }

  .svg-loader {
    width: 300px;
    height: 300px;
  }
  .imageImg {
    margin-left: 0px;
    margin-top: 0px;
  }

  .image-curtain {
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: right;
    padding-left: 205px;
  }

  .loader-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 80px;
  }

  .comming-soon-inside {
    font-size: 24px;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .image-curtain {
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: left;
    padding-left: 205px;
  }

  .loader {
    margin-left: -35vw;
    margin-top: 5vh;
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .image-curtain {
    background-position: left;
  }

  .loader {
    flex-direction: column;
    margin-left: -32vw;
    margin-top: 3vh;
  }

  .svg-loader {
    width: 350px;
    height: 350px;
    margin: 0;
  }

  .loader-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 80px;
  }

  .nsu-tech-fest {
    margin-top: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .image-curtain {
    background-position: right;
  }
  .loader {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
  }

  .svg-loader {
    width: 250px;
    height: 250px;
  }

  .comming-soon-inside {
    margin: 0 auto;
    text-align: center;
  }

  .loader-title {
    font-size: 32px;
    text-align: center;
    margin-left: 0px;
    margin-top: 40px;
  }
}
